<div class="container">

    <h2 class="card-title">{{titulo}}</h2>

    <form>
        <div class="form-group row">
            <label for="fecha" class="col-form-label col-sm-2">Articulo</label>
            <div class="col-sm-6">
                <input type="text" name="articulo" class="form-control" required [(ngModel)]="lista.aArticulo">
            </div>
        </div>
    </form>

    <div class="buttons">
        <button class="btn btn-success" role="button" (click)='formSubmit()' *ngIf="!lista.aIdArticulo else elseblock">Registrar</button>
        <ng-template #elseblock>
            <button class="btn btn-success" role="button" (click)='update()'>Actualizar</button>
        </ng-template>
        <a mat-raised-button color="warn" href="/listarticulo">Regresar</a>
    </div>
</div>