<div class="container">
    <div class="title">
        <h1>Escoja una de las Opciones</h1>
    </div>

    <div class="buttons">

        <div>
            <a mat-button color="primary" routerLink="/listafactura">Lista de Factura</a>
        </div>

        <div>
            <a mat-button color="primary" routerLink="/listarticulo">Lista de Articulo</a>
        </div>

        <div>
            <a mat-button color="primary" routerLink="/listadetalle">Lista de Detalles</a>
        </div>

        

        
        

    </div>
</div>